name: build-docs
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.x'
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry install
        poetry run pip install 'setuptools==59.5.0' # temporary fix for https://github.com/pytorch/pytorch/pull/69904
    - name: Generate docs
      run: |
        bash -x docs/generate_docs.sh
        git config --global user.name 'qdrant'
        git config --global user.email 'qdrant@users.noreply.github.com'
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
        git checkout $GITHUB_HEAD_REF
        git commit -am "docs: auto-generate docs with sphinx" && git push || true
        git pull # autoblack may have made changes
        git push
